<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="co.elastic.logging.logback.EcsEncoder">
            <serviceName>${APP_NAME:-my-service}</serviceName>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/${APP_NAME:-my-service}.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/${APP_NAME:-my-service}-%d{yyyyMMddHH}.log</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>

        <encoder class="co.elastic.logging.logback.EcsEncoder">
            <serviceName>${APP_NAME:-my-service}</serviceName>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>